body {
	margin: auto;
	background: #efe;
}
.nav_bar{
	margin: auto;
	border-bottom: 2px solid #000000;
	padding: 0px 20px 0px 20px;
	height: 64px;
	margin-top: 30px;
}
.nav_bar ul{
	padding: 0;
	list-style: none;

}
.nav_bar ul li{
	font-family: 'Julius Sans One', sans-serif;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}
.nav_bar ul li a{
	text-decoration: none;
	color: #000000;
	background: #6db1e4;
	border: 1px solid #000000;
	border-bottom: none;
	padding: 20px 20px 20px 20px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-top-left: 10px;
	-moz-border-radius-top-right: 10px;
	width: 95px;
	display: inline-block;
	text-align: center;
	transition: 400ms;

}
.nav_bar ul li a: hover {
	text-decoration: none;
	color: #000000;
	background: #96e0e9;
	display: inline-block;
}
.nav_bar ul li a#onlink {
	background: #ffffff;
	color: #000000;
	border-bottom: 1px solid #ffffff;
}
.nav_bar ul li a#onlink: hover{
	background: #ffffff;
	color: #000000;
}
.index {
	font-size: 50px;
	line-height: 62px;
	font-family: 'Courgette', cursive;
	color: white;
	padding-left: 10px;
	
}
.imeiPrezime {
	font-size: 45px;
	line-height: 62px;
	font-family: 'Viga', sans-serif;
	color: white;
	padding-left: 550px;
	padding-top: 500px;
}
.aboutme {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Actor', sans-serif;
	color: white;
	padding-top: 50px;
	padding-left: 10px;
}
.projectsv1 {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Actor', sans-serif;
	color: white;
	padding-top: 50px;
	padding-left: 10px;
}
.projectsv2 {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Actor', sans-serif;
	color: white;
	padding-top: 50px;
	padding-left: 10px;
}
.contact {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Actor', sans-serif;
	color: white;
	padding-top: 50px;
	padding-left: 10px;
}
