body {
	margin: auto;
	background: #efe;
}
.nav_bar{
	margin: auto;
	border-bottom: 2px solid #000000;
	padding: 0px 20px 0px 20px;
	height: 64px;
	margin-top: 30px;
}
.nav_bar ul{
	padding: 0;
	list-style: none;

}
.nav_bar ul li{
	font-family: 'Julius Sans One', sans-serif;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
}
.nav_bar ul li a{
	text-decoration: none;
	color: #000000;
	background: #6db1e4;
	border: 1px solid #000000;
	border-bottom: none;
	padding: 20px 20px 20px 20px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-top-left: 10px;
	-moz-border-radius-top-right: 10px;
	width: 95px;
	display: inline-block;
	text-align: center;
	transition: 400ms;

}
.nav_bar ul li a: hover {
	text-decoration: none;
	color: #000000;
	background: #96e0e9;
	display: inline-block;
}
.nav_bar ul li a#onlink {
	background: #ffffff;
	color: #000000;
	border-bottom: 1px solid #ffffff;
}
.nav_bar ul li a#onlink: hover{
	background: #ffffff;
	color: #000000;
}
.index {
	font-size: 50px;
	line-height: 62px;
	font-family: 'Courgette', cursive;
	color: white;
	padding-left: 10px;
	
}
.imeiPrezime {
	font-size: 45px;
	line-height: 62px;
	font-family: 'Viga', sans-serif;
	color: white;
	padding-left: 550px;
	padding-top: 500px;
}
.aboutme {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Actor', sans-serif;
	color: white;
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.projectsv1 {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Actor', sans-serif;
	color: white;
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.projectsv2 {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Actor', sans-serif;
	color: white;
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}
.contact {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Actor', sans-serif;
	color: white;
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 200px;
}
.ikone ul {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ikone ul li{
	list-style: none;
}
.ikone ul li a{
	width: 80px;
	height: 80px;
	background: #fff;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
}
.ikone ul li a .fab {
	position: relative;
	color: #262626;
	transition: .5s;

}
.ikone ul li a:hover .fab{
	color: #fff;
	transform: rotateY(360deg);

}
.ikone ul li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: .5s;
    z-index: 2;
}
.ikone ul li a:hover:before{
	top: 0;

}
.ikone ul li:nth-child(1) a:before{
	background: #3b5999;

}
.ikone ul li:nth-child(2) a:before{
	background: #131418;
	
}
.ikone ul li:nth-child(3) a:before{
	background: #e4405f;
	
}
.ikone ul li:nth-child(4) a:before{
	background: #55acee;
	
}